<h3>Author DaiDH</h3>

<div *ngIf="loadContent" class="container">
	<form [formGroup]="formGroup" (ngSubmit)="save()" (reset)="resetForm()">
		
    <ng-multiselect-dropdown #multiSelect
      [placeholder]="'Select City'" 
      [data]="data" 
      [formControl]="f.name" 
      [settings]="settings"
      [disabled]="false"
      [class.is-invalid]="f?.name?.errors?.required && f?.name?.touched"
      (onFilterChange)="onFilterChange($event)"
      (onDropDownClose)="onDropDownClose($event)"
      (onSelect)="onItemSelect($event)" 
      (onDeSelect)="onDeSelect($event)"
      (onSelectAll)="onSelectAll($event)"
      (onDeSelectAll)="onDeSelectAll($event)">
		</ng-multiselect-dropdown>

    <span *ngIf="f?.name?.errors?.required && f?.name?.touched" style="color: red;">
      City is required
    </span>

    <br/> <br/>

    <input type="submit" value="Submit"> | <input type="reset" value="Reset"> | <input type="button" value="Toggle Select All" (click)="multiSelect.toggleSelectAll()">

  </form>
</div>
